<div class="container d-flex justify-content-center flex-wrap gap-4">
  <div
    class="card border-2 shadow-sm"
    style="width: 20rem; height: 28rem"
    [class.border-success]="book.shareable"
    [class.border-danger]="book.archived"
  >
    <img
      height="200"
      [src]="bookCover"
      class="card-img-top book-cover"
      alt="Book Cover"
    />
    <div class="card-body">
      <h5 class="card-title fs-6 text-nowrap fw-bold mb-1 text-truncate">
        <i class="fa-solid fa-book"></i>&nbsp;{{ book.title }}
      </h5>
      <h6 class="card-subtitle text-secondary mb-1 text-truncate">
        <i class="fa-solid fa-user-check"></i>&nbsp;{{ book.authorName }}
      </h6>
      <h6 class="card-subtitle text-secondary mb-1">
        <i class="fas fa-code"></i>&nbsp;{{ book.isbn }}
      </h6>
      <h6 class="card-subtitle text-secondary mb-1">
        <i class="fas fa-user"></i>&nbsp;{{ book.owner }}
      </h6>
      <hr />
      <p class="card-text text-muted synopsis">{{ book.synopsis }}</p>
    </div>
    <div
      class="card-footer d-flex gap-2 justify-content-between align-items-center"
    >
      <div class="d-flex align-items-center gap-2">
        <app-rating [rating]="book.rate || 0"></app-rating>
        <span class="fw-bold text-dark" *ngIf="book.rate || 0 > 0">{{
          book.rate
        }}</span>
      </div>
      <div class="action-icons d-flex gap-3" *ngIf="!manage">
        <i
          (click)="onShowDetails()"
          class="fas fa-info-circle text-primary"
          data-bs-toggle="tooltip"
          title="Details"
        ></i>
        <i
          (click)="onBorrow()"
          class="fas fa-list-check text-success"
          data-bs-toggle="tooltip"
          title="Borrow"
        ></i>
        <i
          (click)="onAddToWaitingList()"
          class="fas fa-heart text-danger"
          data-bs-toggle="tooltip"
          title="Add to Wishlist"
        ></i>
      </div>
      <div class="manage-icons d-flex gap-3" *ngIf="manage">
        <i
          (click)="onEdit()"
          class="fas fa-edit text-success"
          data-bs-toggle="tooltip"
          title="Edit"
        ></i>
        <i
          (click)="onShare()"
          class="fas fa-share-alt text-primary"
          data-bs-toggle="tooltip"
          title="Share"
        ></i>
        <i
          (click)="onArchive()"
          class="fas fa-archive text-danger"
          data-bs-toggle="tooltip"
          title="Archive"
        ></i>
      </div>
    </div>
  </div>
</div>